# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate

# Xcode build artifacts
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Local development secrets
Secrets.xcconfig
LocalSecrets.xcconfig
